.explorer-window {
  position: absolute;
  border: 2px solid #026bfe;
  border-radius: 5px; }

.explorer-title {
  background-color: #0055e5;
  background: linear-gradient(#026bfe, #1a6cd0);
  width: 500px;
  height: auto;
  cursor: move; }
  .explorer-title p {
    display: inline-block;
    font-family: Trebuchet MS Bold;
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin: 0px;
    position: relative;
    bottom: 3px;
    left: 5px;
    user-select: none;
    cursor: default; }
  .explorer-title img {
    pointer-events: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    user-select: none;
    cursor: default; }

.explorer-toolbar {
  background-color: #EFEBD6;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px; }
  .explorer-toolbar .explorer-toolbar-backbutton {
    width: 50px;
    height: 20px; }
  .explorer-toolbar .explorer-toolbar-searchbox {
    margin: 0; }
    .explorer-toolbar .explorer-toolbar-searchbox input {
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      transition: all 500ms; }
    .explorer-toolbar .explorer-toolbar-searchbox input:focus {
      border: 1px solid #0055e5; }

.explorer-mainview {
  display: flex; }
  .explorer-mainview .explorer-tree {
    flex: 0.3;
    background-color: white;
    border-right: 2px solid black;
    padding-left: 3px; }
    .explorer-mainview .explorer-tree .explorer-tree-text {
      cursor: pointer; }
    .explorer-mainview .explorer-tree .explorer-tree-text:hover {
      text-decoration: underline; }
    .explorer-mainview .explorer-tree .explorer-tree-icon {
      margin-right: 5px;
      width: 14px;
      height: 14px; }
  .explorer-mainview .explorer-items-container {
    height: 500px;
    background-color: white;
    overflow: scroll;
    flex: 1;
    display: inline-bock; }

.explorer-item {
  font-family: "Tahoma";
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  height: 23px;
  white-space: nowrap; }
  .explorer-item .explorer-item-filename {
    user-select: none;
    position: relative;
    display: inline-block;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .explorer-item .explorer-item-length {
    user-select: none;
    position: relative;
    display: inline-block;
    width: 200px;
    overflow: hidden; }

.explorer-item-icon--wrapper {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  margin-left: 2px;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px; }

.explorer-item-icon--bigger {
  position: relative;
  width: 14px;
  height: 14px; }

.explorer-item-icon--smaller {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 6px;
  top: 6px; }

.explorer-selected {
  background-color: #3064BD;
  color: white;
  border: 1px solid white;
  border-style: dotted;
  box-sizing: border-box; }
