@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.file-fadein {
  animation-duration: 0.18s;
  animation-name: fadeIn;
}

.file-fadeout {
  animation-duration: 0.3s;
  animation-name: fadeIn;
  animation-direction: reverse;
}
